<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <title>App Engine - HTML</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link href="/static/glike.css" rel="stylesheet" type="text/css" />
 </head>
 <body>
   <div id="header">
      <h1><a href="index.htm">App Engine</a></h1>
      <ul>
        <li><a href="sites.htm" class="selected">Sites</a></li>
        <li><a href="topics.htm" >Topics</a></li>
      </ul>
   </div>
   <div id="bodycontent">
      <h2>App Engine: Sites</h2>
      <p>
      Here are some sites we hope you find useful:
      </p>
      <ul>
        <li><a href="http://www.pythonlearn.com">
                                 Python Learn</a></li>
        <li><a href="http://www.appenginelearn.com">
                                 App Engine Learn</a></li>
        <li><a href="http://www.google.com/appengine/">
                                 Google App Engine Site</a></li>
      </ul>
   </div>
 </body>
</html>
